* {
  font-family: var(--main-font);
  line-height: 3vh;
  /* padding: 0px; */
  /* margin: 0; */
  /* width: 100%; */
}

html {
  /* opacity: 0%; */
  /* will-change: opacity; */
  /* animation-delay: 10s; */
  /* animation: pop-in 1.5s steps(4, end) 1s; */
}

/* @keyframes pop-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
} */

header {
  transform: scale3d(1.5, 2.7, 1.5) rotate3d(15, 11, -10, 45deg);
  z-index: 1;
}

body {
  overflow-x: hidden;
  margin: 0px;
  width: 100%;
}
iframe {
  width: 55vw;
  height: 100vh;
}
:root {
  --main-font: "Space Mono", monospace;
  --title-text-size: 18px;
  --main-text-size: 16px;
  --main-text-size-tablet: 18.5px;
  --main-text-size-mobile: 16px;
  --project-title-text-size: 22px;
  --main-text-color: black;
  --header-sub-title: red;
  --divider: black;
  --divider-width: 2px;
  --section-title-size: 55px;
}

/* @keyframes waveringBlur {
  from {
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.9px);
  }
  to {
    -webkit-backdrop-filter: blur(3.5px);
    backdrop-filter: blur(4.3px);
  }
} */

/* canvas.webGL {
  position: fixed;
  outline: none;
  top: 0;
  left: 0;
} */

a {
  color: blue;
}

a:hover {
  /* animation: glow ease-in-out 0.35s infinite; */
}

ul {
  height: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.3em;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  transform: scale3d(1.5, 2.7, 1.5) rotate3d(15, 11, -10, 45deg);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  max-width: 100%;
  top: 0;
  position: sticky;
  background-color: red;
  z-index: 2;
  color: white;
}

.mainContainer {
  margin-top: 2em;
  gap: 0.7em;
  height: 54vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background: white;
  animation: waveringBlur 2.5s infinite alternate;
}

.header--title {
  font-weight: 100;
  color: red;
}

.header--subtitle {
  color: var(--header-sub-title);
  font-weight: 200;
}

.header--buttons > h4 {
  color: black;
  animation: glow alternate infinite 2s;
}

.marquee__container {
  display: flex;
  margin: auto;
  overflow: hidden;
}
.marquee__text {
  white-space: nowrap;
  will-change: transform;
  animation: marquee-left 46.5s linear infinite;
}
@keyframes marquee-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.me {
  width: 25%;
  align-self: center;
}

.marquee__container--footer {
  display: flex;
  margin: auto;
  overflow: hidden;
  /* align-items: center;
    overflow: hidden;
    transform: translateZ(0); */
}
.marquee__text--footer {
  white-space: nowrap;
  will-change: transform;
  animation: marquee-right 27s linear infinite;
}
@keyframes marquee-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-25%);
  }
}

/* @keyframes glow {  0% {
    color: blue;
  }
  50% {
    color: black;
  }
  100% {
    color: blue;
  }
} */

/* ------------------------------------------------------------ */

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: left;
  font-size: var(--main-text-size);
  color: var(--main-text-color);
  box-sizing: border-box;
  /* border-bottom: var(--divider) solid var(--divider-width); */
  width: 50vw;
  max-width: 50vw;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 2vh;
  row-gap: 2em;
  background-color: #fffffff2;
}

section:nth-child(even) {
  align-self: center;
  text-align: center;
}
section > p {
  text-align: justify;
  align-self: self-end;
  background-color: #ffffff9e;
  color: black;
}

/* about & experience */
section.about.container-fluid,
section.experience.container-fluid {
  width: 70vw;
}
section.about.container-fluid {
  z-index: 1;
  gap: 0;
}
section.experience.container-fluid {
  z-index: 2;
}

span.about--desc {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align-last: justify;
  width: 75%;
  margin: auto;
}

/* projects */
section.projects {
  width: 70vw;
  row-gap: 1.5em;
  border-bottom: none;
  margin: auto;
  z-index: 2;
}

.projects--description > p {
  background-color: #ffffff9e;
}

@media screen and (max-width: 768px) {
  section {
    padding: 1vh;
  }
  section > p {
    align-self: center;
    width: 90%;
  }

  /* about */
  section.about {
    width: 100%;
  }

  /* experience */
  section.experience {
    width: 100%;
  }

  .projects--list {
    padding: 5.5vw;
  }
}

@media screen and (max-width: 768px) {
  * {
    line-height: 2vh;
  }
  /* experience */
  section > h3.title {
    font-size: 50px;
  }
  h1.header--title {
    font-size: 30px;
  }
  h2.header--subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 337px) {
  * {
    line-height: 1.5vh;
  }
  /* experience */
  section > h3.title {
    font-size: 50px;
  }
}

section:last-child {
  /* border: none; */
}

h3.title {
  font-size: var(--section-title-size);
  font-weight: 200;
  color: black;
  text-transform: capitalize;
  margin: 0;
}

p {
  font-size: var(--main-text-size);
}

@media screen and (max-width: 925px) {
  p {
    font-size: var(--main-text-size-tablet);
  }
}

/* @media screen and (max-width: 764px) {
  p {
    font-size: var(--main-text-size-mobile);
  }
} */

@media screen and (max-width: 481px) {
  p {
    font-size: var(--main-text-size-mobile);
  }
}

h3.projects--title {
  text-align: right;
  font-size: var(--project-title-text-size);
  margin: 0;
  text-decoration: underline;
}

.projects--description {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: start;
}

.projects--item-desc {
  text-align: justify;
}

.projects--list {
  width: 100%;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1070px) {
  .projects--list > li:nth-child(odd) {
    flex-direction: row;
  }
}

@media screen and (max-width: 1510px) {
  .projects--list {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1070px) {
  .projects--list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 581px) {
  .projects--list-item {
    flex-direction: column !important;
  }
}

.projects--list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.projects--list-item > img {
  aspect-ratio: 1/5;
  object-fit: contain;
  width: 40%;
  max-width: 40%;
  /* height: 19vw; */
}

.projects--list-item > a {
  /* text-decoration: none; */
}

@media screen and (max-width: 1510px) {
  .projects--list-item > img {
    height: 26vh;
  }
}

.projects--item-link {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
}

.skills {
  bottom: 10%;
}

.resume {
  bottom: 0%;
  padding: 2vh;
  position: fixed;
}

footer {
  transform: scale3d(1.5, 2.3, 1.5) rotate(19deg) translate3d(12px, -90px, 10px);
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1vw;
  position: sticky;
  bottom: 0;
  z-index: 1;
  color: white;
  mix-blend-mode: multiply;
  background-color: black;
}
